---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Boubacar OUEDRAOGO" description="About Boubacar OUEDRAOGO Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/devops.jpg"
					alt="Boubacar OUEDRAOGO at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
           <ul>
             <li>Designing and developing a robust DevOps framework that integrates with the company's existing systems and workflows</li>
             <li>Implementing automation tools and frameworks (CI/CD pipelines) to streamline software development and deployment processes</li>
             <li>Collaborating with IT and development teams to ensure that the designed systems meet both technical and consumer needs</li>
             <li>Creating and maintaining documentation regarding DevOps processes, tools, and configurations</li>
             <li>Leading the adoption of DevOps practices across the organization and promoting a culture of continuous improvement</li>
             <li>Assessing the current infrastructure and recommending technologies to improve performance, reliability, and scalability</li>
             <li>Ensuring system security through best practices, security testing, and regular audits</li>
             <li>Monitoring, troubleshooting, and resolving issues in the DevOps environment</li>
             <li>Providing guidance and mentoring to team members on DevOps methodologies and best practices</li>
             <li>Staying current with emerging technologies and industry trends to incorporate into the DevOps strategy</li>
             <li>Working closely with project managers and other stakeholders to align DevOps strategies with business objectives</li>
             <li>Measuring, analyzing, and reporting on the effectiveness of DevOps initiatives to stakeholders and adjusting strategies as necessary</li>
            </ul>  
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> Master's degree in network and systems engineering Paris Saclay University, Versailles.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> </p>
					<ul>
                         <li>Systems administration</li>
                         <li>Automation : Ansible </li>
                         <li>Continuous Integration : gitlab CI, Github Actions, etc.</li>
						 <li>Continuous Deployment : ArgoCD, FluxCD, etc.</li>
						 <li>Container Orchestration : Kubernetes, Openshift, Rancher Kubernetes engine, etc.</li>
						 <li>Monitoring : Prometheus, splunk, Grafana</li>
						 <li>Logging : Loki/Vector, Splunk, elk, graylog, etc.</li>
						 <li>Cloud: AWS, Google</li>
						 <li>Scripting : Shell, python </li>
						 <li>Infrastructure as Code : Terraform </li>
                    </ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
